In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('C:/Users/crist/OneDrive/Documentos/Redes/Redes/DataScience-Salaries/Project/tables/salaries_2020-2025.csv')

In [2]:
print(df.head())

   work_year experience_level employment_type           job_title  salary  \
0       2025               MI              FT  Research Scientist  208000
1       2025               MI              FT  Research Scientist  147000
2       2025               SE              FT  Research Scientist  173000
3       2025               SE              FT  Research Scientist  117000
4       2025               MI              FT         AI Engineer  100000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         208000                 US             0
1             USD         147000                 US             0
2             USD         173000                 US             0
3             USD         117000                 US             0
4             USD         100000                 US           100

  company_location company_size
0               US            M
1               US            M
2               US            M
3               US            M
4               US            M

In [3]:
columns_delete=['work_year', 'experience_level', 'employment_type', 'salary', 'salary_currency', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']
df = df.drop(columns=columns_delete)
df = df.drop_duplicates()

print(df)

                                job_title  salary_in_usd
0                      Research Scientist         208000
1                      Research Scientist         147000
2                      Research Scientist         173000
3                      Research Scientist         117000
4                             AI Engineer         100000
...                                   ...            ...
93589  Applied Machine Learning Scientist         423000
93590                       Data Engineer          28369
93592                      Data Scientist         412000
93593            Principal Data Scientist         151000
93596                      Data Scientist          94665

[28375 rows x 2 columns]

df.to_csv('salaries_2020-2025(clean).csv', index = False)

In [4]:
salaries = df['salary_in_usd']

def freedman_diaconis(data):
    num_data = len(data)
    irq = np.percentile(data, 75) - np.percentile(data, 25)
    bin_width = 2 * irq / np.power(num_data, 1/3)
    num_bins = int((np.max(data) -  np.min(data)) / bin_width)  + 1
    return num_bins

k = freedman_diaconis(salaries)
print(k)

121

In [5]:
bins = np.linspace(np.min(salaries), np.max(salaries), k+1)
labels = [f'{np.round(bins[i], 2)} to {np.round(bins[i+1], 2)}' for i in range(k)]

df['salary'] = pd.cut(salaries, bins=bins, labels=labels, include_lowest=True).astype(str)
df = df.drop('salary_in_usd', axis=1)
df = df.drop_duplicates()
print(df)

                                job_title                  salary
0                      Research Scientist    203140.5 to 209628.1
1                      Research Scientist  144752.07 to 151239.67
2                      Research Scientist  170702.48 to 177190.08
3                      Research Scientist  112314.05 to 118801.65
4                             AI Engineer   99338.84 to 105826.45
...                                   ...                     ...
93559                Finance Data Analyst    60413.22 to 66900.83
93568            Principal Data Scientist  170702.48 to 177190.08
93569            Principal Data Scientist  144752.07 to 151239.67
93576            Principal Data Scientist  229090.91 to 235578.51
93589  Applied Machine Learning Scientist   417231.4 to 423719.01

[5135 rows x 2 columns]

In [7]:
job = df['job_title']
salary = df['salary']
n1 = len(job.drop_duplicates())
n2 = len(salary.drop_duplicates())
print(n1, n2)

317 101

df.to_csv('salaries_2020-2025(grouped).csv', index = False)