In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('salaries_2020-2025.csv')

In [2]:
print(df.head())

   work_year experience_level employment_type           job_title  salary  \
0       2025               MI              FT  Research Scientist  208000
1       2025               MI              FT  Research Scientist  147000
2       2025               SE              FT  Research Scientist  173000
3       2025               SE              FT  Research Scientist  117000
4       2025               MI              FT         AI Engineer  100000

  salary_currency  salary_in_usd employee_residence  remote_ratio  \
0             USD         208000                 US             0
1             USD         147000                 US             0
2             USD         173000                 US             0
3             USD         117000                 US             0
4             USD         100000                 US           100

  company_location company_size
0               US            M
1               US            M
2               US            M
3               US            M
4               US            M

In [3]:
columns_delete=['work_year', 'experience_level', 'employment_type', 'salary', 'salary_currency', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']
df = df.drop(columns=columns_delete)
df = df.drop_duplicates()

print(df.head())

            job_title  salary_in_usd
0  Research Scientist         208000
1  Research Scientist         147000
2  Research Scientist         173000
3  Research Scientist         117000
4         AI Engineer         100000

In [4]:
df.to_csv('salaries_2020-2025(clean).csv', index = False)

In [5]:
salaries = df['salary_in_usd']

def freedman_diaconis(data):
    num_data = len(data)
    irq = np.percentile(data, 75) - np.percentile(data, 25)
    bin_width = 2 * irq / np.power(num_data, 1/3)
    num_bins = int((np.max(data) -  np.min(data)) / bin_width)  + 1
    return num_bins

k = freedman_diaconis(salaries)
print(k)

195

In [6]:
bins = np.linspace(np.min(salaries), np.max(salaries), k+1)
labels = [f'{np.round(bins[i], 2)} to {np.round(bins[i+1], 2)}' for i in range(k)]

df['salary'] = pd.cut(salaries, bins=bins, labels=labels, include_lowest=True).astype(str)

print(df.head())

            job_title  salary_in_usd                  salary
0  Research Scientist         208000  204205.13 to 208230.77
1  Research Scientist         147000  143820.51 to 147846.15
2  Research Scientist         173000   172000.0 to 176025.64
3  Research Scientist         117000  115641.03 to 119666.67
4         AI Engineer         100000    99538.46 to 103564.1

In [7]:
df = df.drop('salary_in_usd', axis=1)
df = df.drop_duplicates()
print(df.head())

            job_title                  salary
0  Research Scientist  204205.13 to 208230.77
1  Research Scientist  143820.51 to 147846.15
2  Research Scientist   172000.0 to 176025.64
3  Research Scientist  115641.03 to 119666.67
4         AI Engineer    99538.46 to 103564.1

In [8]:
df.to_csv('salaries_2020-2025(grouped).csv', index = False)