In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('DataScience_salaries_2025.csv')

In [2]:
print(df.head())

            job_title  salary_in_USD
0  Research Scientist         208000
1  Research Scientist         147000
2  Research Scientist         173000
3  Research Scientist         117000
4         AI Engineer         100000

In [3]:
salaries = df['salary_in_USD']

n = len(salaries)

max_salaries = salaries.max()
min_salaries = salaries.min()

Q1 = salaries.quantile(0.25)
Q3 = salaries.quantile(0.75)

IQR = Q3 - Q1

A_FD = 2*(IQR)*n**(-1/3)

k = int(np.ceil((max_salaries-min_salaries)/A_FD))

bins = np.linspace(min_salaries, max_salaries, k+1)
labels = [f'{np.round(bins[i], 2)} - {np.round(bins[i+1], 2)}' for i in range(k)]

df['Grupo'] = pd.cut(salaries, bins=bins, labels=labels, include_lowest=True).astype(str)

print(df.head())

            job_title  salary_in_USD                  Grupo
0  Research Scientist         208000  204748.52 - 211286.16
1  Research Scientist         147000  145909.77 - 152447.41
2  Research Scientist         173000  172060.33 - 178597.97
3  Research Scientist         117000  113221.58 - 119759.22
4         AI Engineer         100000    93608.66 - 100146.3

In [4]:
df = df.drop('salary_in_USD', axis=1)
df = df.drop_duplicates()
print(df.head())

            job_title                  Grupo
0  Research Scientist  204748.52 - 211286.16
1  Research Scientist  145909.77 - 152447.41
2  Research Scientist  172060.33 - 178597.97
3  Research Scientist  113221.58 - 119759.22
4         AI Engineer    93608.66 - 100146.3

In [5]:
df.to_csv('salaries.csv', index = False)