In [1]:
import pandas as pd
import numpy as np
import csv
df = pd.read_csv('salaries.csv')

In [2]:
print(df.head())

   Data Product Owner  165790.96 - 170225.99
0  Data Product Owner  108135.59 - 112570.62
1            Engineer  139180.79 - 143615.82
2            Engineer  103700.56 - 108135.59
3             Manager   356497.18 - 360932.2
4             Manager  236751.41 - 241186.44

In [4]:
columns_delete=['work_year', 'experience_level', 'employment_type', 'salary', 'salary_currency', 'employee_residence', 'remote_ratio', 'company_location', 'company_size']
df = df.drop(columns=columns_delete)

print(df.head())

            job_title  salary_in_usd
0  Data Product Owner         170000
1  Data Product Owner         110000
2  Data Product Owner         170000
3  Data Product Owner         110000
4            Engineer         143000

In [ ]:
df.to_csv('salaries.csv', index = False)

In [5]:
salaries = df['salary_in_usd']

n = len(salaries)

max_salaries = salaries.max()
min_salaries = salaries.min()

Q1 = salaries.quantile(0.25)
Q3 = salaries.quantile(0.75)

IQR = Q3 - Q1

A_FD = 2*(IQR)*n**(-1/3)

k = int(np.ceil((max_salaries-min_salaries)/A_FD))

bins = np.linspace(min_salaries, max_salaries, k+1)
labels = [f'{np.round(bins[i], 2)} - {np.round(bins[i+1], 2)}' for i in range(k)]

df['Grupo'] = pd.cut(salaries, bins=bins, labels=labels, include_lowest=True).astype(str)

print(df.head())

            job_title  salary_in_usd                  Grupo
0  Data Product Owner         170000  165790.96 - 170225.99
1  Data Product Owner         110000  108135.59 - 112570.62
2  Data Product Owner         170000  165790.96 - 170225.99
3  Data Product Owner         110000  108135.59 - 112570.62
4            Engineer         143000  139180.79 - 143615.82

In [6]:
df = df.drop('salary_in_usd', axis=1)
df = df.drop_duplicates()
print(df.head())

            job_title                  Grupo
0  Data Product Owner  165790.96 - 170225.99
1  Data Product Owner  108135.59 - 112570.62
4            Engineer  139180.79 - 143615.82
5            Engineer  103700.56 - 108135.59
6             Manager   356497.18 - 360932.2

In [7]:
df.to_csv('salaries.csv', index = False, quoting=csv.QUOTE_ALL)